#logo{
	width: 100%;
	height:22%;
	background-color: #BCE892;
	margin-bottom: 10px;
}

#leftbox{
	padding-top: 10px;
	border-right: solid;
	border-width: 1px;
	border-color: darkslateblue;
	height: 100%;
}

.panel-body h1{
	font-size: 20px;
	padding: 0px;
	margin: 0;
}

.panel-body{
	padding-top : 0px;
}

.row{
	background-color: white;
	border:2px solid #cbcbcb;
	box-shadow: 0 4px 5px 2px rgba(0,0,0,.3);
	height: 100%;
}
