{% extends 'quiz/base.html' %}
{% block content %}
	{% load static %}
	<form action="{% url 'quiz:choose_test' %}" method="post">
		{% csrf_token %}
	{% for test in tests %}
  	<input class="single-checkbox" type="checkbox" name="test" value="{{test.id}}"> {{ test.name }}<br>
  	{% endfor %}
  	<input type="submit" value="Submit">
  </form>


<script type="text/javascript">
	var limit = 1;
	$('input.single-checkbox').on('change', function(evt) {
   	if($(this).siblings(':checked').length >= limit) {
       this.checked = false;
   	}
	});
</script>
{% endblock %}

