{% extends 'login/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{%block content%}

<div class = "row">

<div id = "logo" class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
</div>

<div class = "col-lg-1 col-md-2 col-sm-2 col-xs-3" id =
"leftbox">
{# side nav bar #}
{% for x in status %}
<a href = "{% url "quiz:nq" forloop.counter %}"> 

{{forloop.counter}}    <span>  --- </span>
{{x.Qstatus}}

</a>
<br>
{% endfor %}

</div>


<div class = "col-lg-10 col-md-10 col-sm-10 col-xs-8">
{# for Question number #}
<div class= "panel panel-info">

<div class = "panel panel-heading">
{% for x in status %}
{% if x.question.id == question.id %} 
<h1 class="panel-title"> 
Question {{forloop.counter}}
</h1>
</div>

<div class = "panel-body">
<h1 >{{question.question_text}}
</h1>
</div>
</div>
{% endif %}
{% endfor %}

<form action="{% url 'quiz:ans' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    {% if current_status.selected == choice.id %}
    <input type="radio" name="choice" value="{{choice.id}}" checked = "checked"/>
    {% else %}
    <input type="radio" name="choice" value="{{choice.id}}" />
    {% endif %}
    <label>{{choice.choice_text}}</label> <br>
    {% endfor %}
    {%if question.id != first_question %}
    <a href="{% url 'quiz:ans' pre_question  %}">
    previous
    </a>
    {% endif %}
    {% if question.id != last_question%}
    <input type="submit" value="next">
    {% else %}
    <input class="btn btn-primary btn-block btn-large" type="submit" value="Finish">    
    {% endif %} 
</form>


</div>
</div>
{% endblock %}