{% extends 'quiz/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/css/theme.css' %}"/>

<script type="text/javascript" src="{% static 'quiz/js/jquery.countdownTimer.min.js'  %}"></script>

<link rel="stylesheet" href="{% static 'quiz/css/prism.css' %}">

<script type="text/javascript" src="{% static 'quiz/js/prism.js' %}"></script>


<link rel="stylesheet" href="{% static 'quiz/css/index.css' %}">
<script type="text/javascript" src="{% static 'quiz/js/index.js' %}"></script>

<script type="text/javascript">

$(function(){
$('#ms_timer').countdowntimer({
minutes : {{user.rmin}},
seconds : {{user.rsec}},
size : "lg",
expiryUrl : "/",
});
});

var csrfcookie = function() {
var cookieValue = null,
    name = 'csrftoken';
if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
}
return cookieValue;
};

var params = function () {
        timer()
        var ps = "min=" + document.getElementById('minrem').value+"&sec="+document.getElementById('secrem').value;
        //console.log(ps);
        return ps;
    }


setInterval(function(){ 
    
var data_file = "../../timer";
  var http_request = new XMLHttpRequest();

  http_request.open("POST", data_file, true);


  http_request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  http_request.setRequestHeader('X-CSRFToken', csrfcookie());

  http_request.send(params());

}, 5000);

</script>



{% endblock %}

{%block content%}

{% if question.type == 'mcq' %}
<body onload="init()">        
{% elif question.type == 'fill' %}
<booy>
{% endif %}

<div id="logo" class="navbar navbar-inverse">
  <div class = "col-md-5 col-md-push-2" style="margin-top:10px">
    <span class = "white" >
    Name :
    </span>
    <span class = "gold" >
    {{user.user.username}}
    </span>
  </div>
</div>

<div class="container">
<form action="{% url 'quiz:disp' question.id %}" method="post" onsubmit="timer()">
<div class="row">
  <div class = "countdowntimer col-md-8">
    <span style="font-size : 35px;color: currentColor;" id="ms_timer"></span>
  </div>
  {% csrf_token %}
  <div class = "col-md-1 nav">
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Unanswered</button>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Unanswered Questions</h4>
          </div>
          <div class="modal-body">
            {% for x in status %}
            {% if x.Qstatus == 'red' %}
            <input id="side" value ="{{forloop.counter}}" type ="submit" class="btn  hidden-xs {{x.Qstatus}} " name = "nav">
            {% endif %}
            {% endfor %}
          </div> 
        </div>
      </div>
    </div>
  </div>

  <div class = "col-md-1  nav">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#flag">Flagged</button>

    <div class="modal fade" id="flag" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Flagged</h4>
        </div>
        <div class="modal-body">
          {% for x in status %}
          {% if x.Qstatus == 'yellow' %}
          <input id="side" value ="{{forloop.counter}}" type ="submit" class="btn  {{x.Qstatus}} " name = "nav">
          {% endif %}
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>


<div class = "col-md-1  nav">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#overview">Overview</button>

    <div class="modal fade" id="overview" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Overview</h4>
        </div>
        <div class="modal-body">
          {% for x in status %}
          <input id="side" value ="{{forloop.counter}}" type ="submit" class="btn  {{x.Qstatus}} " name = "nav">
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>


</div>
<!-- endrow timer -->
<hr>


<div class="row">


<div class="col-md-10 card-header" style="overflow : auto;">
<span class="tag tag-pill tag-default label-med">
{% for x in status %}
{% if x.question.id == question.id %}
{{forloop.counter}} 
{% endif %}
{% endfor %}) Weightage : 1.0</span>
<hr style="border : 0px;">
<h3>{{question.question_text}}
</h3>
{% if question.code %}
<pre>
<code class="language-clike">
{{question.code}}
</code>
</pre>
{% endif %}
{% if question.image %}
<img class="img-res" width="200px" height="200px" src="{{MEDIA_URl}}{{question.image.url}}">
{% endif %}
</div>

<div class="card-body">
<div class="row">
<div class=col-md-10>

{% if question.type == 'mcq' %}  
<table>
<tbody>
    {% for x in choice %}
    <tr >
    <td >
    {% if current_status.selected == x.id %}
    <input type="radio" onclick="radioClick()" name="choice" value="{{x.id}}" checked = "checked"/>
    {% else %}
    <input  type="radio" onclick="radioClick()" name="choice" value="{{x.id}}" /> 
    {% endif %}
    <label>{{x.choice_text}}</label> <br>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% elif question.type == 'fill' %}
<table>
  <tr>
    <td>
      <h4>Enter the answer :</h4>
      <input style = " width : 500px;" id="inputbox" onfocusout="checkInputStatus()" class="form-control" type="text" name="answer" value="{{current_status.answer}}">
    </td>
  </tr>
</table>
{% endif %}
      
   <div class="nav col-lg-12">
    {%if question.id != first_question.id %}
    <input type= "submit"  class = "btn btn-primary" value = "Previous" name = "nav">
    {% endif %}
    {% if question.id != last_question.id %}
    <input type="submit" class = "btn btn-primary"  value="Next" name = "nav">
    {% else %}
    <input type="submit" name = "nav" class="btn btn-primary" value="Finish" >  
    {% endif %}


    {% for x  in status %}
    {% if x.question.id == question.id %}
    {# status btn #}
    {% if question.type == 'mcq' %}
    <div id="statusbtn" onclick="changeStatus()" class="btn btn-primary {{x.Qstatus}}"   >
    {% elif question.type == 'fill'%}
    <div id="statusbtn" onclick="changeStatus()" class="btn btn-primary {{x.Qstatus}}" style="background-color : {{x.Qstatus}} ">
    {% endif %}
      {% if x.Qstatus == 'yellow' %}
      Unflag
      {% else %}
      Flag
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}

   </div>
   {# hidden inp  #}
   {% for x in status %}
   {% if x.question.id == question.id %}
   <input type ="hidden" id="hiddenstatus" name="status" value={{x.Qstatus}}>
   {% endif %}
   {% endfor %}



<input type ="hidden" id="minrem" name="min" value={{user.rmin}}>
   <input type ="hidden" id="secrem" name="sec" value={{user.rsec}}>
 </div>
</div>
</div><!-- cardbody -->

</form>
</div>
</body>
{% endblock %}